body {
    font-family: 'Arial', sans-serif;
    background-color: #141414;
    color: #fff;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.movie-detail {
    display: flex;
    gap: 30px;
    max-width: 1000px;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 50px;
}

.movie-detail img {
    width: 300px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);

}

.movie-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}



.movie-info p {
    font-size: 16px;
    line-height: 1.6;
}

.movie-info strong {
    color: #e50914;
}

.movie-info a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #e50914;
    padding: 8px 12px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.movie-info a:hover {
    background-color: #e50914;
}