*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: #fff;
}
nav {
    padding: 20px 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav ul li {
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}
nav ul li:hover {
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: underline;
    padding: 5px 10px;

}
.nav-logo img {
    width: 120px;
}

.nav-search input {
    height: 24px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: large;
}